<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tomasing.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:replace="fragments/header :: header" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Tomasing.com</a>
</nav>

<div class="container" style="margin-top:80px">
    <div class="row">
        <div class="col-sm-12">
            <h5 th:text="${#temporals.format(post.createDate, 'MMM d, yyyy')}">Sep 2, 2017</h5>
            <h2 th:text="${post.title}">TITLE HEADING</h2>
            <div th:utext="${post.content}">
                The content
            </div>
            <div>
                <span th:text="${'Posted by ' + post.createdBy}">Posted by user</span>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer" class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>

</body>
</html>
